<!--Content Section-->
<div id="services" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <!--Content Left Side-->
    <div class="col-3">
      <!--User Testimonial-->
      <blockquote class="testimonial text-right bigtest">
        <q>{{ service.quote }}</q>
        <footer>{{ service.quote_writer }}</footer>
      </blockquote>
      <!-- End of Testimonial-->
    </div>
    <!--End Content Left Side-->

    <!--Content of the Right Side-->
    <div class="col-3">
      <div class="section-heading">
        <h3>{{ service.tagline }}</h3>
        <h2 class="section-title">{{ service.title }}</h2>
        <p class="section-subtitle">
          {{ service.subtitle }}
        </p>
      </div>
      <p>
        {{ service.description }}
      </p>
      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      <a
        href="{{ service.buttonlink }}"
        data-videoid="UYJ5IjBRlW8"
        data-videosite="youtube"
        class="button video link-lightbox"
      >
        {{ service.buttontitle }} <i class="fa fa-play" aria-hidden="true"></i>
      </a>
    </div>
    <!--End Content Right Side-->

    <div class="col-3">
      <img src="../assets/images/dancer.jpg" alt="Dancer" />
    </div>
  </div>
</div>
<!--End of Content Section-->
